/* ------------- ESTILOS GENERALES ------------- */

body {
    font-family: 'Outfit', sans-serif; /* Fuente principal de la página */
}


/* ------------- NAVBAR PRINCIPAL ------------- */

.navbar {
    display: flex;                     /* Distribuye elementos en fila */
    justify-content: space-between;    /* Espacia entre extremos (izq - der) */
    align-items: center;               /* Centra verticalmente los elementos */
    padding: 0 20px;                    /* Espaciado interno */
    background-color: #ffffff !important;       /* Color de fondo azul/gris */
    position: sticky;   
    top: 0;             /* Contexto para elementos absolutos */
    height: 70px;                      /* Altura de la barra */
}

/* Título dentro de la navbar */
.navbar-title {
    font-size: 28px;                   /* Tamaño de letra del título */
    font-weight: bold;                 /* En negrita */
    color: #024873;                    /* Color del texto */
    text-align: center;                /* Centrado horizontal */
    flex: 1;                           /* Ocupa espacio entre botón y logo */
    display: flex;                     /* Activa flexbox */
    align-items: center;               /* Centra verticalmente */
    justify-content: center;           /* Centra horizontalmente */
}


/* Contenedor del botón hamburguesa (lado izquierdo) */
.nav-left {
    display: flex;                     /* Muestra en fila */
    align-items: center;               /* Centra verticalmente */
}



/* ------------- LOGO ------------- */

.logo-img {
    height: 55px;                      /* Altura del logo */
    width: auto;     
    margin-left: 10px;                  /* Mantiene proporción */
}

.logo_titulo{
    
}




/* ------------- RESPONSIVE (MÓVILES) ------------- */

.nav-link {
    margin: 0 10px;
}

.profile-link {
    color: #024873;
    text-decoration: none;
    font-weight: bold;
}

.navbar-profile-icon {
    border-radius: 50%;
    border: 2px solid #024873;
    width: 24px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;                  /* Oculta enlaces en pantallas pequeñas */
    }
    .offcanvas {
    width: 250px !important;                       /* Ancho del menú lateral */
    }
    .logo_titulo{
        right: 15px;
    }
    .menu-toggle{
        left: 20px;
    }
}
