{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnectch" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarDashboard.css' %}">

    <title>ViajAr</title>
</head>
<body>
    {% include 'includes/navbargeneral.html' %}


<div class="contenedor_buscar">
    
    <div class="busqueda-grupo">
        <span>Origen</span>
        <div class="dropdown" id="dropdown-origen">
            <input type="text" 
                   class="form-control" 
                   placeholder="Ciudad origen"
                   data-bs-toggle="dropdown" 
                   aria-expanded="false" 
                   id="input-origen"
                   autocomplete="off"> 
            <div class="dropdown-menu">
                <h6 class="dropdown-header">Ciudades Sugeridas</h6>
                <a class="dropdown-item" href="#" data-value="Buenos Aires">Buenos Aires</a>
                <a class="dropdown-item" href="#" data-value="Córdoba">Córdoba</a>
            </div>
        </div>
    </div>

    <div class="busqueda-grupo">
        <span>Destino</span>
        <div class="dropdown" id="dropdown-destino">
            <input type="text" 
                   class="form-control" 
                   placeholder="Ciudad destino"
                   data-bs-toggle="dropdown" 
                   aria-expanded="false" 
                   id="input-destino"
                   autocomplete="off"> 
            <div class="dropdown-menu">
                <h6 class="dropdown-header">Ciudades Sugeridas</h6>
                <a class="dropdown-item" href="#" data-value="Tucumán">Tucumán</a>
                <a class="dropdown-item" href="#" data-value="Neuquén">Neuquén</a>
            </div>
        </div>
    </div>
    <div class="busqueda-grupo">
        <span>Fecha</span>
        <input type="date" 
               class="form-control"
               id="input-fecha"> 
    </div>

    

    <button class="btn btn-warning" id="btn-buscar">Buscar</button>

</div>
        
    </div>
    </nav>
</div>

<div class="contenedor_viajes">
            <div class="custom-card-template">
                <!-- 1. ZONA SVG/ICONO -->
                <div class="card-header-svg">
                    <span style="font-size: 16px;">
                        <img src="{% static 'img/ubiAzul.svg' %}" alt="Ubicación" style="width: 25px;"> DESDE: <span style="color: #85C74D; font-size: 20px;"> ROSARIO</span> <br>
                        <img src="{% static 'img/ubiVerde.svg' %}" alt="Ubicación" style="width: 25px;"> HASTA: <span style="color: #85C74D; font-size: 20px;"> SANTA ROSA DE CALAMUCHITA</span>
                    </span>
            </div>
                <!-- 2. CUERPO DE DETALLES -->
                <div class="card-body-content">
                    
                    <!-- Fecha y Hora -->
                    <div class="detail-row">
                        <span class="detail-label">
                            <!-- SVG para Calendario/Reloj -->
                            <img src="{% static 'img/fecha2.svg' %}" alt="Fecha" style="width: 25px; margin-right: 10px;"> Fecha:
                        </span>
                        <span class="detail-value">20/03/2026</span>
                    </div>

                    <div class="detail-row">
                        <span class="detail-label">
                            <!-- SVG para Reloj -->
                            <img src="{% static 'img/reloj2.svg' %}" alt="Hora" style="width: 25px; margin-right: 10px;"> Hora:
                        </span>
                        <span class="detail-value">18:30 HS</span>
                    </div>

                    <!-- Costo -->
                    <div class="detail-row mb-3">
                        <span class="detail-label">
                            <!-- SVG para Moneda -->
                            <img src="{% static 'img/money2.svg' %}" alt="Costo" style="width: 25px; margin-right: 10px;"> Costo:
                        </span>
                        <span class="detail-value text-success fw-bolder">$ 5.000</span>
                    </div>
                    
                    <!-- Lugares Disponibles -->
                    <div class="places-available mt-auto">
                        
                        <p class="mb-1 text-secondary fw-semibold"><img src="{% static 'img/asiento.svg' %}" alt="Costo" style="width: 25px; margin-right: 5px;">LUGARES DISPONIBLES:</p>
                        <p class="lead fw-bolder text-primary">3 / 4 </p>
                    </div>
                    
                    <!-- Botón -->
                    <button class="btn btn-primary mt-3">VER</button>
                </div>
            </div>
</div>

<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/filtro.js' %}"></script>
</body>
</html>