{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnectch" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbargeneral.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloModales.css' %}">
    <link rel="stylesheet" href="{% static 'css/misviajes.css' %}">
    <link rel="stylesheet" href="{% static 'css/miperfil.css' %}">
    <style>
        body {
            font-family: 'Outfit', sans-serif;
        }
    </style>

    <title>ViajAr</title>
    <style>
        .busqueda-botones-ajuste {
            margin-top: -20px; /* Ajusta este valor según sea necesario */
        }
    </style>
</head>
<body>
    {% include 'includes/navbargeneral.html' %}
    {% include 'includes/publicarViaje.html' %}
    {% include 'includes/reservarViaje.html' %}

    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Encontrá tu próximo viaje</h1>
            <p class="hero-subtitle">Buscá, reservá y compartí gastos con nuestra comunidad</p>
            
            <div class="search-card">
                <div class="search-form-container">
                    <div class="busqueda-grupo">
                        <label for="input-origen">Origen</label>
                        <div class="dropdown" id="dropdown-origen">
                            <input type="text" class="form-control" placeholder="Localidad de origen" aria-expanded="false" id="input-origen" autocomplete="off">
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Localidad Sugerida</h6>
                            </div>
                        </div>
                    </div>
                    <div class="busqueda-grupo">
                        <label for="input-destino">Destino</label>
                        <div class="dropdown" id="dropdown-destino">
                            <input type="text" class="form-control" placeholder="Localidad de destino" aria-expanded="false" id="input-destino" autocomplete="off">
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Localidad Sugerida</h6>
                            </div>
                        </div>
                    </div>
                    <div class="busqueda-grupo">
                        <label for="input-fecha">Fecha</label>
                        <input type="date" class="form-control" id="input-fecha" placeholder="dd/mm/aaaa">
                    </div>
                    <div class="busqueda-grupo d-flex flex-column justify-content-end busqueda-botones-ajuste">
                        <button id="btn-limpiar-filtros" class="btn btn-sm btn-outline-secondary mb-3" title="Limpiar filtros">Limpiar filtro</button>
                        <button class="btn btn-primary btn-buscar" id="btn-buscar">
                            <img src="{% static 'img/outline-travel-explore.svg' %}" alt="Buscar" class="icon-buscar">
                            Filtrar
                        </button>
                    </div>
                </div>
                <div class="publish-action-container">
                    <span class="publish-text">¿No encontraste viaje?</span>
                    <button class="btn btn-secondary btn-publicar btn-verificar-vehiculo">Publicá el tuyo</button>
                </div>
            </div>
        </div>
    </section>

    <div class="container results-container">
        <hr class="results-separator">
        {% include 'includes/mensajeCarga.html' %}
        <div class="contenedor_viajes">
            <!-- El contenido de las tarjetas de viaje aparecerá aquí -->
        </div>
    </div>



<!-- Enlaces a scripts -->
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/navbar_animation.js' %}"></script>
<script src="{% static 'js/localidad.js' %}"></script> <!-- Carga de localidades -->
<script src="{% static 'js/filtro.js' %}"></script>
<script src="{% static 'js/publicarViaje.js' %}"></script>
<!-- 
    AQUÍ ENLAZAMOS EL NUEVO SCRIPT QUE CARGA LOS DATOS DE LA API 
    (Asegúrate de que la ruta sea correcta en tu estructura de archivos estáticos) 
-->

<script>
    // 1. Capturamos la URL base /static/ del servidor de Django.
    // Usamos {% static '' %} para obtener solo el prefijo base.
    const STATIC_URL_BASE = "{% static '' %}"; 
</script>

    
    <script src="{% static 'js/cargarViaje.js' %}"></script> 
    <script src="{% static 'js/cargarViaje.js' %}"></script> 
    <script src="{% static 'js/reservarViaje.js' %}"></script> 
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/apiOSRM.js' %}"></script> 
    </body></html>