body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    background-color: #024873 !important;
  }
  
.iniciar_sesion {
    background-color: rgba(0, 0, 0, 0.595);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 500px;
    height: 370px;
}

.iniciar_sesion button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #298db8b4;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.iniciar_sesion 
.iniciar_sesion button:hover {
    background-color: #298EB8;
}

.iniciar_sesion p {
    color: rgba(255, 255, 255, 0.645);
    cursor: pointer;
}
.iniciar_sesion h3 {
    color: white;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
.iniciar_sesion h1 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
} 
  