/* frontend/static/css/reporte.css */
body {
    background-color: #024873; /* Un gris claro para el fondo */
  
}
.profile-nav-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 20px;
    width: 250px;
    border-bottom-left-radius: none;
   border-bottom-right-radius: none;
   margin-left: 50px;
}
.profile-nav-card button{
   padding-left: 10px;
   width: 170px;
   border-bottom-left-radius: none;
   border-bottom-right-radius: none;
}

.profile-nav .nav-item .nav-link {
    color: #024873; /* Texto blanco para los botones no seleccionados */
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    text-align: left;
    transition: all 0.3s ease;
    margin-left: -5px;
}

.profile-nav .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Un ligero brillo al pasar el ratón */
}

.profile-nav .nav-item .nav-link.active {
    background-color: #024873; /* Fondo blanco para el seleccionado */
    color: #ffffff; /* Texto azul para el seleccionado */
    font-weight: bold;
    width: 170px;
}

/* Estilos para el contenido de las tarjetas de perfil */
.profile-content-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 30px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.profile-content-card .list-group-item {
    border-color: #e9ecef;
}

.contenedor_reporte {
    width: 900px;
    margin-left: -70px;
    height: auto;
}

/* --- AJUSTES RESPONSIVE --- */
@media (max-width: 768px) {
    .profile-nav-card {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-left: 0;
        margin-bottom: 20px; /* Espacio entre la tarjeta de navegación y la de contenido */
    }

    .contenedor_reporte {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-left: 0;
    }

    .profile-nav-card button {
        width: 100%; /* Los botones ocupan todo el ancho */
    }

    .profile-nav .nav-item .nav-link.active {
        width: 100%; /* El botón activo también ocupa todo el ancho */
    }
}
