{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>VIAJAR</title>
    <nav class="navbar bg-body-tertiary"> <!-- navbar -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      VIAJAR
    </a>
  </div>
</nav>
<h1>Lista de usuarios</h1>


</head>
<body>
  <table class="table" id="tabla_usuarios">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
    





<!-- Bootstrap JS local -->
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/usuarios.js' %}"></script>
</body>
</html>