{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>VIAJAR</title>
    <nav class="navbar bg-body-tertiary"> <!-- navbar -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      VIAJAR
    </a>
  </div>
</nav>


</head>
<body>
    





<!-- Bootstrap JS local -->
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Tu JS - No se cuando ni como usaré esto asi que lodejo comentado -->
<!-- <script src="js/app.js"></script>   --> 
</body>
</html>