<!-- Modal para Ver Pasajeros -->
<div class="modal fade" id="verPasajerosModal" tabindex="-1" aria-labelledby="verPasajerosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verPasajerosModalLabel">Pasajeros del Viaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="pasajeros-list" class="list-group">
                    <!-- Los pasajeros se cargarán aquí -->
                </ul>
            </div>
        </div>
    </div>
</div>
