{% load static %}

<nav class="navbar navbar-expand-lg navbar-custom d-flex justify-content-between align-items-center fixed-top">

  <div class="d-flex align-items-center">
    <a href="/dashboard/" class="logo">
      <img src="{% static 'img/logo.png' %}" alt="Carpoolear" class="logo-img">
    </a>
    <div class="navbar-title">
      ViajAr
    </div>
  </div>
  <div class="d-flex justify-content-center flex-grow-1 main-nav-links">
    <a href="/dashboard/" class="nav-link">Inicio</a>
    <a href="/misviajes/" class="nav-link">Mis Viajes</a>
    <a href="/reportes" class="nav-link">Reportes</a>
    <a href="{% url 'ayuda' %}" class="nav-link">Ayuda</a>
  </div>

  <div class="d-flex align-items-center">
    <div class="dropdown me-3">
      <a href="#" class="profile-link d-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="profile-text-desktop">Usuario</span>
        <span class="profile-text-mobile">Menu</span>
        <img src="{% static 'img/default-avatar.svg' %}" alt="Perfil" class="ms-2 navbar-profile-icon" style="height: 32px; width: 32px;">
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li class="mobile-nav-item"><a class="dropdown-item" href="/dashboard/">Inicio</a></li>
        <li class="mobile-nav-item"><a class="dropdown-item" href="/misviajes/">Mis Viajes</a></li>
        <li class="mobile-nav-item"><a class="dropdown-item" href="/reportes">Reportes</a></li>
        <li class="mobile-nav-item"><a class="dropdown-item" href="{% url 'ayuda' %}">Ayuda</a></li>
        <li class="mobile-nav-item"><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/miperfil/">Mi Perfil</a></li>
        <li><a class="dropdown-item text-danger" href="#" id="logout-btn">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>