<!-- Modal para Publicar Viaje -->
<div class="modal fade modal-custom" id="publicarViajeModal" tabindex="-1" aria-labelledby="publicarViajeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header-custom">
                <h1>Publicá tu viaje</h1>
            </div>
            <div class="modal-body">
                <form id="form-publicar-viaje">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="form-group">
                            <label for="origen-publicar">Origen</label>
                            <div class="dropdown" id="dropdown-origen-publicar">
                                <input type="text" class="form-control" id="origen-publicar" data-bs-toggle="dropdown" required autocomplete="off">
                                <div class="dropdown-menu w-100">
                                    <h6 class="dropdown-header">Ciudades Sugeridas</h6>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="destino-publicar">Destino</label>
                            <div class="dropdown" id="dropdown-destino-publicar">
                                <input type="text" class="form-control" id="destino-publicar" data-bs-toggle="dropdown" required autocomplete="off">
                                <div class="dropdown-menu w-100">
                                    <h6 class="dropdown-header">Ciudades Sugeridas</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <label for="fecha-publicar">Fecha de Salida</label>
                            <input type="text" class="form-control" id="fecha-publicar" placeholder="" onfocus="(this.type='date')" onblur="(this.type='text')" required>
                        </div>
                        <div class="form-group">
                            <label for="hora-publicar">Hora de Salida</label>
                            <input type="time" class="form-control" id="hora-publicar" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <label for="asientos-publicar">Asientos Disponibles</label>
                            <div class="asientos-disponibles">
                                <button type="button" onclick="this.nextElementSibling.stepDown()">-</button>
                                <input type="number" id="asientos-publicar" min="1" value="1" readonly>
                                <button type="button" onclick="this.previousElementSibling.stepUp()">+</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="precio-publicar">Precio por Asiento</label>
                            <input type="number" class="form-control" id="precio-publicar" step="100" min="0" placeholder="Sin puntos ni comas" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="detalle_viaje">Detalles del viaje</label>
                        <textarea class="form-control" id="detalle_viaje" placeholder="Viajo con un perro, paso por algún lado, etc." maxlength="200" style="height: 100px"></textarea>
                    </div>


                    <button class="btn btn-primary w-100" type="submit">Publicar Viaje</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="mb-0">¡Viaje publicado exitosamente!</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Error de Sesión -->
<div class="modal fade" id="successModal2" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="mb-0">¡Inicia sesión para poder publicar un viaje!</p>
                <a href="http://127.0.0.1:8001/inicio" class="btn btn-warning" role="button" id="botonSesion">INICIAR SESIÓN</a>
            </div>
        </div>
    </div>
</div>